.div-top-navbar{
    min-height: 40px;
    height: auto;
    width: 100%;
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    padding-left: 270px;
    padding-top: 10px;
    padding-right: 50px;
    #myAccountDropdown{
        color:#333;
        text-decoration: none;
    }
    .myAccountDropdownMenu{
        padding:10px 10px;
        img{
            height: 140px;
            width: 100%;
            position: relative;
            text-align: center;
            border: 1px solid rgb(238, 238, 238);
            
        }
        button{
            text-align: center;
        }
    }
    
}
.div-side-navbar{
    background:$sideNavbarBg;
    width: 240px;
    height: $heightVh;
    position: fixed;
    z-index: 11;
    top: 0px;
    color:#bdbdbd;
    
    hr{
        background:white;
    }
    img{
        height: 80px;
        width: 90px;
        margin-top: 10px;
    }
    .div-side-navbar-buttons{
        padding: 0px 10px;
        button, a{
            color:white;
            text-align: justify;
            &:hover{
                color:rgb(154, 155, 158);
            }
        }
        .fa{
            line-height: 25px;
        }
        .minize-navbar-btn{
            position: absolute;
            right: -30px;
            top: 10px;
            border: none;
            background:$sideNavbarBg;
            font-size: 25px;
            color:white;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
    }
}
.show-navbar-btn{
    position: absolute;
    left: 0px;
    top: 10px;
    border: none;
    background:$sideNavbarBg;
    font-size: 25px;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.div-loading{
    display:none;
    .div-sub-loading{
        height: $heightVh;
        width: 100%;
        background: white;
        z-index: 200;
        position: absolute;
        top: 0px;
        .spinner-border{
            height: 90px;
            width: 90px;
        }
    }
}

